<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>wjn</title>
    <link rel="icon" type="image/x-icon" href="https://arronwjn.github.io/favicon.ico">
    <link rel="stylesheet" href="../css/main.css">
    <link rel='stylesheet prefetch' href='../css/bootstrap.min.css'>
  	<link rel="stylesheet" href="../插件/201610121612/css/style.css">
  </head>
  <body>
    <div id="wrapper">
      {% include header.html %}
      {% include nav.html %}
      <section class="content clearfix">
        {{ content }}
      </section>
      {% include footer.html %}
    </div>

    <srcpit src="../js/jquery-3.1.1.min.js" type="text/javascript"></srcpit>
    <script>window.jQuery || document.write('<script src="../js/jquery-3.1.1.min.js"><\/script>')</script>
    <script src="../js/bootstrap.min.js"></script>
    <script type="text/javascript">
    	$(document).ready(function(){
    		var trigger = $('.hamburger'),
    				overlay = $('.overlay'),
    			 isClosed = false;

    			trigger.click(function () {
    				hamburger_cross();
    			});

    			function hamburger_cross() {

    				if (isClosed == true) {
    					overlay.hide();
    					trigger.removeClass('is-open');
    					trigger.addClass('is-closed');
    					isClosed = false;
    				} else {
    					overlay.show();
    					trigger.removeClass('is-closed');
    					trigger.addClass('is-open');
    					isClosed = true;
    				}
    		}

    		$('[data-toggle="offcanvas"]').click(function () {
    					$('#wrapper').toggleClass('toggled');
    		});
    	});
    </script>
  </body>
</html>
